body {
    background: lightslategrey;
}

footer.container {
    width: 30%;
}

#greeting {
    display: block;
    text-align: center;
}

#submitUser {
    margin-bottom: 10px;
    margin-top: 10px;
}
